.RData
.Rhistory
.Rproj.user/5E4614DC/console06/INDEX001
.Rproj.user/5E4614DC/pcs/debug-breakpoints.pper
.Rproj.user/5E4614DC/pcs/files-pane.pper
.Rproj.user/5E4614DC/pcs/packages-pane.pper
.Rproj.user/5E4614DC/pcs/source-pane.pper
.Rproj.user/5E4614DC/pcs/windowlayoutstate.pper
.Rproj.user/5E4614DC/pcs/workbench-pane.pper
.Rproj.user/5E4614DC/persistent-state
.Rproj.user/5E4614DC/rmd-outputs
.Rproj.user/5E4614DC/saved_source_markers
.Rproj.user/5E4614DC/sources/prop/1D85F606
.Rproj.user/5E4614DC/sources/prop/23AA51A
.Rproj.user/5E4614DC/sources/prop/24647AA4
.Rproj.user/5E4614DC/sources/prop/2D081333
.Rproj.user/5E4614DC/sources/prop/2E27DD3D
.Rproj.user/5E4614DC/sources/prop/321E9D56
.Rproj.user/5E4614DC/sources/prop/38D6C176
.Rproj.user/5E4614DC/sources/prop/3F323A6
.Rproj.user/5E4614DC/sources/prop/5A931EC2
.Rproj.user/5E4614DC/sources/prop/6895640B
.Rproj.user/5E4614DC/sources/prop/69332D48
.Rproj.user/5E4614DC/sources/prop/6EEBEA89
.Rproj.user/5E4614DC/sources/prop/6EEEF62A
.Rproj.user/5E4614DC/sources/prop/7BED8AE3
.Rproj.user/5E4614DC/sources/prop/88A07616
.Rproj.user/5E4614DC/sources/prop/8FB3689E
.Rproj.user/5E4614DC/sources/prop/A325F230
.Rproj.user/5E4614DC/sources/prop/B2C03EA0
.Rproj.user/5E4614DC/sources/prop/B6590249
.Rproj.user/5E4614DC/sources/prop/BB451E9B
.Rproj.user/5E4614DC/sources/prop/C65DA6F7
.Rproj.user/5E4614DC/sources/prop/E1B6BACC
.Rproj.user/5E4614DC/sources/prop/E9545D3C
.Rproj.user/5E4614DC/sources/prop/EB5AB2C3
.Rproj.user/5E4614DC/sources/prop/EB8062C1
.Rproj.user/5E4614DC/sources/prop/FF055D36
.Rproj.user/5E4614DC/sources/prop/INDEX
.Rproj.user/5E4614DC/sources/s-BD9F71D5/1CC3E365
.Rproj.user/5E4614DC/sources/s-BD9F71D5/1CC3E365-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/1D07C5BF
.Rproj.user/5E4614DC/sources/s-BD9F71D5/1D07C5BF-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/2F94C192
.Rproj.user/5E4614DC/sources/s-BD9F71D5/2F94C192-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/327B090A
.Rproj.user/5E4614DC/sources/s-BD9F71D5/327B090A-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/433DBEBA
.Rproj.user/5E4614DC/sources/s-BD9F71D5/433DBEBA-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/6A90ECB6
.Rproj.user/5E4614DC/sources/s-BD9F71D5/6A90ECB6-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/7A1A6994
.Rproj.user/5E4614DC/sources/s-BD9F71D5/7A1A6994-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/7A680885
.Rproj.user/5E4614DC/sources/s-BD9F71D5/7A680885-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/A30FB7F1
.Rproj.user/5E4614DC/sources/s-BD9F71D5/A30FB7F1-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/AA3053B2
.Rproj.user/5E4614DC/sources/s-BD9F71D5/AA3053B2-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/B91F28B9
.Rproj.user/5E4614DC/sources/s-BD9F71D5/B91F28B9-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/CC5D0741
.Rproj.user/5E4614DC/sources/s-BD9F71D5/CC5D0741-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/CCEE31D9
.Rproj.user/5E4614DC/sources/s-BD9F71D5/CCEE31D9-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/D2E7B573
.Rproj.user/5E4614DC/sources/s-BD9F71D5/D2E7B573-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/EAAF5731
.Rproj.user/5E4614DC/sources/s-BD9F71D5/EAAF5731-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/ECCDEBA3
.Rproj.user/5E4614DC/sources/s-BD9F71D5/ECCDEBA3-contents
.Rproj.user/5E4614DC/sources/s-BD9F71D5/lock_file
.Rproj.user/5E4614DC/viewer-cache/7321B119.Rdata
.Rproj.user/5E4614DC/viewer-cache/8A900966.Rdata
.Rproj.user/5E4614DC/viewer-cache/A9BD27C1.Rdata
.Rproj.user/5E4614DC/viewer-cache/F8A8C3D0.Rdata
.Rproj.user/shared/notebooks/267F88E5-lecture1/1/s/chunks.json
.Rproj.user/shared/notebooks/7EEC416F-data_cleaning/1/5E4614DCDBA43E7D/chunks.json
.Rproj.user/shared/notebooks/7EEC416F-data_cleaning/1/s/c40sl7amjll4y/000012.csv
.Rproj.user/shared/notebooks/7EEC416F-data_cleaning/1/s/cgd8tib07e9ub/000005.metadata
.Rproj.user/shared/notebooks/7EEC416F-data_cleaning/1/s/cgd8tib07e9ub/000005.rdf
.Rproj.user/shared/notebooks/7EEC416F-data_cleaning/1/s/chunks.json
.Rproj.user/shared/notebooks/7EEC416F-data_cleaning/1/s/clmjinsn6i94t/00000e.csv
.Rproj.user/shared/notebooks/7EEC416F-data_cleaning/1/s/cyj9gimfwcaoe/000006.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
app.R.bak
exposureList(old).txt
exposureList.txt
pdgenetics.Rproj
tested_solutions
www/dataForestPlot_PD_2014.csv
www/dataForestPlot_PD_2017.csv
www/dataForestPlot_PD_2019.csv
www/dataResultsTable-het.csv
www/dataResultsTable-link.csv
www/dataResultsTable-ple.csv
www/dataResultsTable-RC.csv
www/dataResultsTable-res.csv
www/iPDGC-transparent-logo.png
*.xlsx
rsconnect/shinyapps.io/pdgenetics/pdgenetics.dcf
.Rproj.user
scripts
