/.box-warning>.box-header>.pull-right>.btn-box-tool>.fa-minus{
  color:white;
}
/.box-warning>.box-header {
  color:white;
  background:#f49d13
                    }
.box.box-solid.box-success>.box-header{
  color:white;
  background:#f46613
}
.box.box-solid.box-success{
border-bottom-color:#f46613;
border-left-color:#f46613;
border-right-color:#f46613;
border-top-color:#f46613;
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu>.header{
  background-color:black;
  color:white;
  overflow:visible;
  }
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu{
  background-color:black;
  overflow:visible;
  width:400px;
  }
  
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu>li>.menu>li>a:hover{
  background-color:black;
  color:orange;
  overflow:visible;
}
.tab-content .row{
z-index:1
}
.tab-content .column{
z-index:1
}
.jumbotron{
  background-color:white;
  margin-left:15px;
  margin-right:15px;
}
.jumbotron .jumbotrontext{
  margin-left:15px;
  text-align:center;
}
#warningNotification{
  white-space:pre-line;
  font-weight:bold;
  margin-right:15px;
  color:orange;
  display:inline-block;
  vertical-align:middle;
  overflow:visible;
}
#dismiss_button_container{
  text-align:right;
  margin-right:15px;
  margin-top:25px;
}
#dismiss_button{
  display:inline;
}
#tabBut{
  background-color:#307aae;
  color:white;
  margin-top:20px;
  margin-left:15px;
}
#body_logo{
  position:absolute;
  bottom:1%;
  right:1%;
}
#body_logo_image{
  margin-left:20px;
}
.box{
z-index:1
}
/* logo */
.skin-blue .main-header .logo {
background-color: #000000;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
background-color: #000000;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: #000000;
}        

/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: #cc00ff;
}
.row {
display: flex;
}
.column {
flex: 50%;
}

#condpanel {
  margin-top: 25px
}
#logo_bottom {
  position: relative;
  bottom: 300px;
  z-index: -1
}
#filter
a:link{
  color: grey;
}
#filter
a:visited{
  color: grey;
}
#filter
a:active{
  color: black;
}
#res_table
a:link{
color: #006aff;
}
#res_table
a:visited{
color: #006aff;
}
#res_table
a:active{
color: #006aff;
}
#plotkey {
font-size: 14px;
margin-top: 3em;\26em
margin-bottom: 2em
}